<!DOCTYPE html>
<html ng-app="monSite">

  {% include head.html %}

  <body ng-controller="BodyCtrl">

    {% include header.html %}
    {% include navbar.html %}   

    <main id="main">
      {{ content }}
    </main>

    <div class="footer">
      {% include footer.html %}
    </div>
      
    <div class="to-top" ng-click="scroll_to_top()">
      <a href="#main" tooltip-html="html_tooltip" du-scrollspy>
        <span class="fa fa-angle-double-up"></span>
      </a>
    </div>
    
    <script type="text/javascript" src="{{url}}/javascripts/mon_site.js"></script>
    <script type="text/javascript" src="{{url}}/javascripts/carousel.js"></script>
    {% if site.piwik_analytics_tracking_id %}
      {% include piwik_analytics.html %}
    {% endif %}
  </body>

</html>