<header id="topNav">
  <div class="container">
    <div class="navbar-collapse nav-main-collapse collapse">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-main">
        <ul class="nav navbar-nav">
          <li><a href="{{ url }}/">À propos</a></li>
          <li><a href="{{ url }}/articles.html">Blog</a></li>
          <li><a href="{{ url }}/categories/angularjs/">AngularJS</a></li>
          <li><a href="{{ url }}/categories/amazon-web-services/">Amazon</a></li>
          <li><a href="{{ url }}/categories/heroku/">Heroku</a></li>
          <li><a href="{{ url }}/categories/petits-tutos/">Petits tutos</a></li>
          <li><a href="{{ url }}/categories/ruby-on-rails/">Rails</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
