<slide active="" >
  <img src="{{url}}/images/bdx_2.svg" class="" >
  <div class="carousel-divs">
    <div ng-repeat="github in githubs | limitTo:{{site.github_repo_count}}">
      <div class="input-group animate-1">
        <span class="input-group-addon red">
          <span class="fa fa-github"></span>
        </span>
        <label class="form-control" >
          <a href="[[github.html_url]]" target="_blank">[[github.description]]</a>
        </label>
      </div>
    </div>
  </div>

  <div class="carousel-caption red">
    <p>Utilisateur fréquent de Github, vous pouvez y voir mes divers activités.</p>
  </div>
</slide>