<slide active="" >
  <img src="{{url}}/images/latte.jpg" class="" >
  <div class="carousel-divs">
    <div>
      <h1 ng-hide="isff">
        Vous n'utilisez pas <a href="https://www.mozilla.org/fr/firefox/new/" target="_blank">Firefox</a> ? Si vous avez de la considération pour votre vie privée, vous devriez.
      </h1>
      <h1 ng-show="isff">
        Vous utilisez <b>Firefox</b>, mais le connaissez-vous bien ?
      </h1>
    </div>

    <div class="input-group animate-1">
      <span class="input-group-addon red">
        <span class="fa fa-cubes"></span>
      </span>
      <label class="form-control" >
        Personalisable,  
          Changez de <a href="https://addons.mozilla.org/fr/firefox/themes/" target="_blank">thème</a>, 
          modifiez la <a href="https://www.mozilla.org/fr/firefox/desktop/customize/" target="_blank">dispositions</a> de votre configuration, 
          ajoutez de <a href="https://addons.mozilla.org/fr/firefox/extensions/" target="_blank">extensions</a>.
      </label>
    </div>

    <div class='input-group animate-2'>
      <span class="input-group-addon red">
        <span class="fa fa-connectdevelop"></span>
      </span>
      <label class="form-control" >
        Il interprète le code <a href="https://www.mozilla.org/fr/firefox/desktop/fast/" target="_blank">plus vite</a> et est plus stable que ses concurrents.
      </label>
    </div>

    <div class='input-group animate-3'>
      <span class="input-group-addon red" >
        <span class="fa fa-gavel"></span>
      </span>
      <label class="form-control" >
        Il déborde de fonctionnalités pour vous assurer le <a href="https://www.mozilla.org/fr/firefox/desktop/trust/" target="_blank">respect de votre vie privée</a>.
      </label>
    </div>

    <div class='input-group animate-4'>
      <span class="input-group-addon red">
        <span class="fa fa-cogs"></span>
      </span>
      <label class="form-control" >
        Il vous permet d'utiliser un <a href="https://support.mozilla.org/fr/kb/comment-configurer-firefox-sync" target="_blank">compte synchronisé</a> avec tous vos Firefox/<a href="https://firefoxosdevices.org/en/#type:all|coming-devices:no" target="_blank">Firefox OS</a>
      </label>
    </div>
  </div>

  <div class="carousel-caption red">
    <p>Soutenez les hommes et les femmes qui se battent pour l'<b>indépendance du net</b>.</p>
  </div>
</slide>