<slide active="">
  <img src="{{url}}/images/bdx_2.svg" class="" >
  <div class="carousel-divs">
    <div class="input-group animate-1">
      <span class="input-group-addon red">
        <span class="fa fa-credit-card"></span>
      </span>
      <label class="form-control" >Un prix bas pour une qualité professionnelle, profitez d'un site à partir de 350€.</label>
    </div>

    <div class='input-group animate-2'>
      <span class="input-group-addon red">
        <span class="fa fa-cloud"></span>
      </span>
      <label class="form-control" >Profitez de milliers d’extensions gratuites ou payantes.</label>
    </div>

    <div class='input-group animate-3'>
      <span class="input-group-addon red" >
        <span class="fa fa-tags"></span>
      </span>
      <label class="form-control" >Changez de thème quand vous voulez, vous disposez de milliers de thèmes testables.</label>
    </div>

    <div class='input-group animate-4'>
      <span class="input-group-addon red">
        <span class="fa fa-search"></span>
      </span>
      <label class="form-control" >Optimisé pour les moteurs de recherche, ne payez plus pour un référencement naturel.</label>
    </div>

    <div class='input-group animate-5'>
      <span class="input-group-addon red">
        <span class="fa fa-group"></span>
      </span>
      <label class="form-control" >Profitez d'une communauté ouverte qui partage ses expériences.</label>
    </div>
  </div>

  <div class="carousel-caption red">
    <p>Utiliser Wordpress c'est travailler sur des bases solides.</p>
  </div>
</slide>