<slide active="">
  <img src="{{url}}/images/bdx_3.jpg" class="" >
  <div class="carousel-divs">
    <div>
      <h1>
        Consultez mon <a href="{{url}}/datas/cv_alain_andre.pdf" target="_blank">CV</a> pour plus d’informations.
      </h1>
    </div>

    <div class="input-group animate-1">
      <span class="input-group-addon blue">
        <span class="fa fa-cubes"></span>
      </span>
      <label class="form-control" >
        Frameworks principaux : Ruby on Rails, NodeJs, Bootstrap, AngularJS
      </label>
    </div>

    <div class='input-group animate-2'>
      <span class="input-group-addon blue">
        <span class="fa fa-compass"></span>
      </span>
      <label class="form-control" >
        Technologies principales : HTML5, CSS3, JavaScript, Ruby
      </label>
    </div>

    <div class='input-group animate-3'>
      <span class="input-group-addon blue" >
        <span class="fa fa-comments"></span>
      </span>
      <label class="form-control" >
        Environnements privilégiés : Linux, Git, Twitter
      </label>
    </div>

    <div class='input-group animate-4'>
      <span class="input-group-addon blue">
        <span class="fa fa-eye"></span>
      </span>
      <label class="form-control" >
        Centres d'interêts : Mozilla, Ubuntu, French-tech, Snow-board, Surf, Voile.
      </label>
    </div>
  </div>

  <div class="carousel-caption blue">
    <p>Developpeur full-stack, je suis en veille technologique permanente.</p>
  </div>
</slide>