<slide active="slide.active">
  <img src="{{url}}/images/bdx_1.svg" class="" >
  <div class="carousel-divs">
    {% for post in site.posts limit: site.recent_posts %}
      <div class="input-group animate-1">
        <span class="input-group-addon blue">
          <span class="fa fa-html5"></span>
        </span>
        <label class="form-control" >
          <a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
        </label>
      </div>
    {% endfor %}  
  </div>

  <div class="carousel-caption blue">
    <p>Mes derniers articles publiés !</p>
  </div>
</slide>