<slide active="slide.active">
  <img src="{{url}}/images/bdx_1.svg" class="" >
  <div class="carousel-divs">
    <div class="input-group animate-1">
      <span class="input-group-addon red">
        <span class="fa fa-html5"></span>
      </span>
      <label class="form-control" >Création de votre nom de domaine .fr, .com etc. Obtenez une adresse professionnelle active en une heure.</label>
    </div>

    <div class='input-group animate-2'>
      <span class="input-group-addon red">
        <span class="fa fa-envelope"></span>
      </span>
      <label class="form-control" >Création de vos e-mails professionnels, configuration de votre environnement de travail.</label>
    </div>

    <div class='input-group animate-3'>
      <span class="input-group-addon red" >
        <span class="fa fa-wordpress"></span>
      </span>
      <label class="form-control" >Création de votre site vitrine d'après votre cahier des charges. Changez simplement de theme, ajoutez des fonctionnalités etc.</label>
    </div>

    <div class='input-group animate-4'>
      <span class="input-group-addon red">
        <span class="fa fa-area-chart"></span>
      </span>
      <label class="form-control" >Formation à la solution Wordpress; Écrivez vos articles, créez vos événements, partagez sur les réseaux sociaux, etc.</label>
    </div>

    <div class='input-group animate-5'>
      <span class="input-group-addon red">
      <span class="fa fa-info-circle"></span>
      </span>
      <label class="form-control" >Obtenez un Service de suivi sur un an. Ne perdez plus de temps à chercher !</label>
    </div>
  </div>

  <div class="carousel-caption red">
    <p>Soyez maître de votre investissement, vous restez les seuls à être en contacte avec le fournisseur !</p>
  </div>
</slide>